﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>@ViewBag.Title</title>

    @*--- CSS ---*@
    @Styles.Render("~/Content/css/reset.css")

    @*--- libs ---*@
    @Scripts.Render("~/app/vendor/angular/angular.js")
    @Scripts.Render("~/app/vendor/angular/angular-route.js")
    @Scripts.Render("~/app/vendor/angular/angular-ui-router.js")

    @Scripts.Render("~/app/vendor/angular-block-ui/angular-block-ui.js")
    @Styles.Render("~/app/vendor/angular-block-ui/angular-block-ui-admin.css")

    @Scripts.Render("~/app/vendor/jquery-1.11.3.js")

    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap-tooltip-2.3.2.js")
    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap-confirmation.js")

    @Scripts.Render("~/app/vendor/toastmessage/js/jquery.toastmessage.js")
    @Scripts.Render("~/app/vendor/toastmessage/js/notification.js")
    @Styles.Render("~/app/vendor/toastmessage/css/toastmessage.css")

    @Scripts.Render("~/app/vendor/ng-tasty/ng-tasty-tpls.min.js")

    @*--- CSS ---*@
    @Styles.Render("~/app/vendor/bootstrap/css/bootstrap.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/general.css")
    @Styles.Render("~/Content/css/login.css")
    @Styles.Render("~/Content/css/controls.css")
    @Styles.Render("~/Content/css/errors.css")
    @Styles.Render("~/Content/css/table.css")

    @*--- app ---*@
    @Scripts.Render("~/app/modules/authentification/app.js")
    @Scripts.Render("~/app/modules/authentification/app.routes.js")

    @* --- common --- *@
    @Scripts.Render("~/app/system/config.js")

    @* factories *@
    @Scripts.Render("~/app/data-factories/authentication-data-factory.js")

    @* services *@
    @Scripts.Render("~/app/services/authentication-service.js")

    @* controllers *@
    @Scripts.Render("~/app/modules/admin/authentication/authentication-controller.js")

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
