﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>@ViewBag.Title</title>

    @*--- CSS ---*@
    @Styles.Render("~/Content/css/reset.css")

    @*--- libs ---*@
    @Scripts.Render("~/app/vendor/angular/angular.js")
    @Scripts.Render("~/app/vendor/angular/angular-route.js")
    @Scripts.Render("~/app/vendor/angular/angular-ui-router.js")

    @Scripts.Render("~/app/vendor/angular-block-ui/angular-block-ui.js")
    @Styles.Render("~/app/vendor/angular-block-ui/angular-block-ui-admin.css")

    @Scripts.Render("~/app/vendor/jquery-1.11.3.js")

    @Scripts.Render("~/app/vendor/underscore.js")

    @Scripts.Render("~/app/vendor/jquery-ui-1.11.4/jquery-ui.js")
    @Styles.Render("~/app/vendor/jquery-ui-1.11.4/jquery-ui.css")
    @Styles.Render("~/app/vendor/jquery-ui-1.11.4/jquery-ui.structure.css")
    @Styles.Render("~/app/vendor/jquery-ui-1.11.4/jquery-ui.theme.css")

    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap-tooltip-2.3.2.js")
    @Scripts.Render("~/app/vendor/bootstrap/js/bootstrap-confirmation.js")

    @Scripts.Render("~/app/vendor/toastmessage/js/jquery.toastmessage.js")
    @Scripts.Render("~/app/vendor/toastmessage/js/notification.js")
    @Styles.Render("~/app/vendor/toastmessage/css/toastmessage.css")

    @Scripts.Render("~/app/vendor/sweetalert-master/js/sweetalert.min.js")
    @Styles.Render("~/app/vendor/sweetalert-master/css/sweetalert.css")

    @Scripts.Render("~/app/vendor/jquery.browser.js")
    @Scripts.Render("~/app/vendor/filesize.min.js")

    @Scripts.Render("~/app/vendor/ng-tasty/ng-tasty-tpls.min.js")
    @Scripts.Render("~/app/vendor/pagination/dirPagination.js")

    @Scripts.Render("~/app/vendor/jquery.mask.js")

    @Scripts.Render("~/app/vendor/tinymce/tinymce_note_edition.js")

    @*--- CSS ---*@
    @Styles.Render("~/app/vendor/bootstrap/css/bootstrap.css")
    @Styles.Render("~/app/vendor/bootstrap/css/bootstrap-confirmation.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/general.css")
    @Styles.Render("~/Content/css/admin.css")
    @Styles.Render("~/Content/css/controls.css")
    @Styles.Render("~/Content/css/errors.css")
    @Styles.Render("~/Content/css/table.css")

    @*--- app ---*@
    @Scripts.Render("~/app/modules/admin/app.js")
    @Scripts.Render("~/app/modules/admin/app.routes.js")

    @* --- common --- *@
    @Scripts.Render("~/app/system/config.js")
    @Scripts.Render("~/app/system/helper.js")
    @Scripts.Render("~/app/system/route-helper.js")
    @Scripts.Render("~/app/system/navigation-helper.js")
    @Scripts.Render("~/app/system/browser-helper.js")
    @Scripts.Render("~/app/system/pagination-helper.js")
    @Scripts.Render("~/app/system/model-helper.js")

    @* directives *@
    @Scripts.Render("~/app/system/directives/repeat-complete-directive.js")
    @Scripts.Render("~/app/system/directives/dom-element-loaded-directive.js")
    @Scripts.Render("~/app/system/directives/visible-directive.js")

    @* factories *@
    @Scripts.Render("~/app/data-factories/crud-data-factory.js")
    @Scripts.Render("~/app/data-factories/authentication-data-factory.js")
    @Scripts.Render("~/app/data-factories/navigation-data-factory.js")
    @Scripts.Render("~/app/data-factories/question-data-factory.js")
    @Scripts.Render("~/app/data-factories/reception-data-factory.js")
    @Scripts.Render("~/app/data-factories/comment-data-factory.js")
    @Scripts.Render("~/app/data-factories/user-data-factory.js")

    @* services *@
    @Scripts.Render("~/app/services/crud-service.js")
    @Scripts.Render("~/app/services/authentication-service.js")
    @Scripts.Render("~/app/services/navigation-service.js")
    @Scripts.Render("~/app/services/data-service.js")
    @Scripts.Render("~/app/services/question-service.js")
    @Scripts.Render("~/app/services/reception-service.js")
    @Scripts.Render("~/app/services/comment-service.js")
    @Scripts.Render("~/app/services/user-service.js")

    @* controllers *@
    @Scripts.Render("~/app/modules/admin/authentication/authentication-controller.js")
    @Scripts.Render("~/app/modules/admin/navigation/navigation-controller.js")
    @Scripts.Render("~/app/modules/admin/question/question-controller.js")
    @Scripts.Render("~/app/modules/admin/reception/reception-controller.js")
    @Scripts.Render("~/app/modules/admin/comment/comment-controller.js")
    @Scripts.Render("~/app/modules/admin/user/user-controller.js")

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
