﻿<div id="login-container" class="bordered" dom-element-loaded="afterLoading()">
    <div id="logged-out" ng-show="!currentUser.isLogged">
        <a id="register" href="#/register" ng-show="!currentUser.isLogged">Register</a>
        <span id="log-in" ng-click="showLoginPopup()" ng-show="!currentUser.isLogged">Log In</span>
    </div>
    <div id="logged-in" ng-show="currentUser.isLogged">
        <button id="upload-button" class="grey-button" ng-click="redirectToUpload()" ng-hide="isMobile()">Upload video</button>
        <span>Hello, <b>{{currentUser.name}}</b></span><a id="log-off-link" ng-click="logOut()">Log off</a>
    </div>
    <div class="clear"></div>

    <div id="login-popup" class="hidden">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="login-caption">Login:</div>
                    </td>
                    <td>
                        <input id="user-login" type="text" class="name" ng-model="currentUser.login" autofocus></td>
                </tr>
                <tr>
                    <td>
                        <div class="login-caption">Password:</div>
                    </td>
                    <td>
                        <input id="user-password" type="password" class="name" ng-model="currentUser.password"></td>
                </tr>
                <tr>
                    <td colspan="2"><a class="forgot-caption" href="#/reset-password">Forgot password?</a></td>
                </tr>
            </tbody>
        </table>
        <div class="buttons-container">
            <input type="button" value="Log In" ng-click="logIn()">
            <input type="button" class="cancel" value="Cancel" ng-click="hideLoginPopup()">
        </div>
    </div>
</div>
