﻿<div id="details-info-container" class="bordered">
    <div class="title">{{videoSession.Name}}</div>
    <div class="storage">Storage: {{videoSession.StorageTypeName}}</div>
    <div class="description">{{videoSession.Description}}</div>
</div>