﻿<div id="question-ask">
    <table class="custom-form">
        <colgroup>
            <col class="captions"/>
            <col/>
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <div class="caption">Titlte:<sup> *</sup>
                    </div></td>
                <td>
                    <input type="text" class="title" ng-model="model.title" autofocus="" ng-class="{'error-border' : error.title}">
                    <div class="error" ng-bind="error.title"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="caption">Description:<sup> *</sup>
                    </div></td>
                <td>
                    <textarea class="description" ng-class="{'error-border' : error.description}" ng-model=" model.description"></textarea>
                    <div class="error" ng-bind="error.description"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="caption">First Name:<sup> *</sup>
                    </div></td>
                <td>
                    <input type="text" ng-class="{'error-border' : error.firstName}" ng-model="model.firstName">
                    <div class="error" ng-bind="error.firstName"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="caption">Last Name</div>
                </td>
                <td>
                    <input type="text" ng-class="{'error-border' : error.lastName}" ng-model="model.lastName">
                    <div class="error" ng-bind="error.lastName"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="caption">E-mail:<sup> *</sup>
                    </div></td>
                <td>
                    <input type="text" ng-class="{'error-border' : error.email}" ng-model="model.email">
                    <div class="error" ng-bind="error.email"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="caption">Phone:<sup> *</sup>
                    </div></td>
                <td>
                    <input type="text" class="phone" ng-class="{'error-border' : error.phone}" ng-model="model.phone">
                    <div class="error" ng-bind="error.phone"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submitQuestion()">Send</button>
        <button type="button" class="btn btn-default" ng-click="questionAskModalClose()">Close</button>
    </div>
</div><!-- /.modal -->