﻿<div id="question-details" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Patient's Question</h4>
            </div>
            <div class="modal-body">

                <div class="error-container">
                    <ul class="errors">
                        <li ng-repeat="error in errorList">{{error}}</li>
                    </ul>
                </div>

                <table class="custom-form question-details-form">
                    <colgroup>
                        <col class="caption"/>
                    </colgroup>
                    <tr>
                        <td><div class="caption">Title:</div></td>
                        <td><div type="text" ng-bind="model.title"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Description:</div></td>
                        <td><div type="text" ng-bind="model.description ? model.description : '—'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">First Name:</div></td>
                        <td><div type="text" ng-bind="model.firstName ? model.firstName : '—'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Last Name:</div></td>
                        <td><div type="text" ng-bind="model.lastName ? model.lastName : '—'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">E-mail:</div></td>
                        <td><div type="text" ng-bind="model.email ? model.email : '—'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Publication Date:</div></td>
                        <td><div type="text" ng-bind="model.createdAt | date: 'dd.MM.yyyy HH:mm'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Answer:</div></td>
                        <td><textarea id="question" class="description" ng-model="model.answer"></textarea></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="sendAnswer()">Send to e-mail</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

