﻿<div tasty-table bind-resource-callback="getAll" bind-init="init" bind-reload="reloadCallback" bind-theme="{loadOnInit: true}" ng-show="rows.length">
    <table class="list">
        <thead tasty-thead></thead>
        <tbody>
            <tr ng-repeat="row in rows" ng-dblclick="showDetails(row)" repeat-complete>
                <td ng-class="!row.isRead ? 'bold' : ''">{{ row.firstName }}</td>
                <td class="email">{{ row.email }}</td>
                <td class="created">{{row.createdAt | date: 'dd.MM.yyyy HH:mm'}} {{row.UserCreatedBy.LastName}}</td>
                <td class="publish"><div ng-class="row.isPublished ? 'published' : 'not-published'" ng-attr-title="{{row.isPublished ? 'Published' : 'Not Published'}}" n ng ng-click="showDetails(row)"></div></td>
                <td class="buttons-2">
                    <button class="image-button-details" title="Show" ng-click="showDetails(row)"></button>
                    <button class="image-button-delete" data-toggle="confirmation-popout" data-placement="left" data-title="Уверены?" ng-click="onHide($event, row)"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div tasty-pagination></div>
</div>

<div ng-include="'app/modules/admin/comment/views/comment-details.html'"></div>