﻿<div id="comment-details" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reception</h4>
            </div>
            <div class="modal-body">

                <table class="custom-form">
                    <tr>
                        <td><div class="caption">Name:</div></td>
                        <td><div type="text" ng-bind="model.firstName"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">E-mail:</div></td>
                        <td><div type="text" ng-bind="model.email ? model.email : '—'"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Comment:</div></td>
                        <td><div type="text" class="justify" ng-bind="model.description"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Is Puplished:</div></td>
                        <td><div ng-class="model.isPublished ? 'published' : 'not-published'" ng-attr-title="{{model.isPublished ? 'Published' : 'Not Published'}}"></div></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Puplication Date:</div></td>
                        <td><div type="text" ng-bind="model.createdAt | date: 'dd.MM.yyyy HH:mm'"></div></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="publish()">Publish</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->