﻿@using PresentationLayer.Web.HtmlHelpers
@{
    ViewBag.Title = "Hospital/Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    @Html.InitialConfiguration()
</script>

<div id="navigation-menu-container-wrapper">
    <div id="navigation-menu-container">
        <div ng-controller="NavigationController" ng-include="'/app/modules/admin/navigation/views/navigation.html'"></div>
    </div>
</div>
<div id="content-container">
    <div id="content-angular">
        <div id="login-container" ng-controller="AuthenticationController">
            <div id="logged-in">
                <span>Hello, <b>{{currentUser.name}}</b></span><a id="log-off-link" ng-click="logOut()">Log Out</a>
            </div>
        </div>
        <div ui-view="main"></div>
        </div>
</div>