﻿html, body {
    margin: 0;
    height: 100%;
    background-color: #0452A9;
}

body {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #336699;
    
    min-height: 750px;
    background: url(../images/background/body.png) no-repeat;
    padding: 15px;
}

a {
    text-decoration: none;
    color: Blue;
}

.headerText {
    margin-bottom: 10px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.clearfix:before {
    content: " ";
    display: table;
    /*height: 0;*/
    visibility: hidden;
    font-size: 0;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
    visibility: hidden;
    font-size: 0;
}

sup.required {
    color: red;
}


/* ====== Log In ====== */
#login-container {
    position: relative;
    height: 20px;
    
    #logged-in {
        position: absolute;
        top: -20px;
        right: 0;
        margin: 9px;

        #log-off-link {
            margin-left: 15px;
            font-weight: bold;
        }
    }
}


/* ====== MAIN ====== */
#header-container { /* Верхняя часть с заголовком страницы */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: black; /* Цвет символов */
    height: 199px;
    background: url(../images/background/header.png) no-repeat;
}

/* ====== NAVIGATION ====== */
#navigation-menu-container-wrapper {
    height: 100%;
    width: 350px;
    float: left;
    border: 1px solid #fff;
    border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    -khtml-border-radius: 0 10px 10px 10px;
    clear: both;
    background: #d1e5f4;
    box-shadow: inset 5px 3px 10px #b0d0ea;
    -moz-box-shadow: inset 5px 3px 10px #b0d0ea;
    -webkit-box-shadow: inset 5px 3px 10px #b0d0ea;
    -khtml-box-shadow: inset 5px 3px 10px #b0d0ea;
    overflow: hidden;
}

#navigation-menu-container { /* Навигация по сайту */
    padding: 10px 11px 10px 10px;
    margin-right: 0;
    width: 330px;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -khtml-border-radius: 0 0 0 10px;
    vertical-align: top;
    background: transparent;
    /*border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
      -webkit-border-radius: 0 10px 10px 0;
      -khtml-border-radius: 0 10px 10px 0;
      background: #fff;
      margin-left: 225px;
      box-shadow: -5px 3px 10px #b0d0ea;
      -moz-box-shadow: -5px 3px 10px #b0d0ea;
      -webkit-box-shadow: -5px 3px 10px #b0d0ea;
      -khtml-box-shadow: -5px 3px 10px #b0d0ea;*/

    ul {
        //margin-left: -25px;
    }

    li {
        list-style-type: none;
        position: relative;
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .tree-cat {
        border-bottom: 1px solid #e5f0f9;
        padding: 0 0 0 15px;
        margin: 0 7px 8px;
        position: relative;
        height: 20px;

        a {
            float: left;
            margin-right: 5px;
            color: #476c9d;
            cursor: pointer;
        }
    }

        .tree-cat:hover {
            a, div {
                color: #d18322;
                cursor: pointer;
            }
        }

    .sub-tree-cat {
        border-bottom: 1px solid #e5f0f9;
        padding: 3px 0 0 15px;
        margin: 7px 9px 7px;
        position: relative;

        a {
            color: #476c9d;
        }

        span {
            cursor: pointer;
        }

            span:hover, a:hover {
                color: #d18322;
                cursor: pointer;
            }
    }

    .minus {
        background: url(../images/arrows/minus.png) 0 3px no-repeat;
    }

    .plus {
        background: url(../images/arrows/plus.png) 0 3px no-repeat;
    }
}



/* ====== CONTENT ====== */
#content-container {
    height: 100%;
    overflow-y: auto;
    margin-left: 365px;
    margin-bottom: 15px;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: inset 0px 5px 10px #cee1f1;
    -moz-box-shadow: inset 0px 5px 10px #cee1f1;
    -webkit-box-shadow: inset 0px 5px 10px #cee1f1;
    -khtml-box-shadow: inset 0px 5px 10px #cee1f1;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -khtml-border-radius: 0 0 0 10px;
    position: relative;
}

#footer-container { /* Нижняя часть */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    font-size: 90%; /* Размер шрифта */
    padding: 3px; /* Поля вокруг текста */
    height: 50px;
}




/* ===== LOADING ===== */
.loading {
    background-image: url(images/loader/loader.gif);
    height: 84px;
    width: 84px;
}

.blockOverlay {
    opacity: 0.2 !important;
    background-color: #336699 !important;
}

.blockMsg {
    border: none !important;
    background-color: transparent !important;
}

    .blockMsg h1 {
        /*background-image: url(../css/images/loader_black.gif);*/
        background-image: url(images/loader/loader_blue.gif);
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }


/* === EDIT/ADD === */
table.editor {
    td.content {
        width: 100%;
    }

    textarea {
        height: 250px;
        width: 95%;
        resize: none;
    }

    input[type=text] {
        width: 95%;
    }
}

table td {
    div.published {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/published.png');
    }

    div.not-published {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/not-published.png');
    }
}

/* ====== Forms ====== */
.question-details-form {
    width: 100%;

    td {
        vertical-align: top;
        padding-top: 5px;

        .caption {
            margin-top: 0 !important;
        }
    }

    textarea.description{
        width: 100%;
        height: 300px;
        resize: none;
    }
}

.user-form {
    div.caption {
        width: 130px;
    }

    input {
        width: 250px;
    }
}               

/* === POPUP === */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog.large {
    width: 50%; /* respsonsive width */
}