﻿/* ===== LOADING ===== */
.loading {
    /*background-image: url(images/loader/loader.gif);*/
    height: 84px;
    width: 84px;
}

.blockOverlay {
    opacity: 0.2 !important;
    background-color: #336699 !important;
}

.blockMsg {
    border: none !important;
    background-color: transparent !important;
}

.blockMsg h1{
    /*background-image: url(../css/images/loader_black.gif);*/
    /*background-image: url(images/loader/loader_blue.gif);*/
    /*background-image: url(../images/loader/loader_blue.gif);*/
    background-image: url(../images/loader/loader_windows8.gif);
    width: 64px;
    height: 64px;
    margin: 0 auto;
}