/* ======== BUTTON ============ */
/* http://www.bestcssbuttongenerator.com/ */
*:focus {
  outline: none;
}
.upload-file-button {
  position: relative;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  /* padding: 6px 24px; */
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  height: 32px;
}
.upload-file-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
  background-color: #dfdfdf;
}
.upload-file-button:active {
  position: relative;
  top: 1px;
}
/* ====== Button General Blue ======= */
.custom-form {
  /* http://www.bestcssbuttongenerator.com/ */
  /* ====== Button Cancel Red ======= */
  /* Gray Button */
  /* ======== TEXT BOX ============ */
  /* ======== TEXT AREA ============ */
  /* ======== DROPDOWN LIST ============ */
}
.custom-form input[type=button],
.custom-form input[type=submit],
.custom-form a.button {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
  background-color: #33bdef;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial; */
  font-size: 14px;
  /* font-weight: bold; */
  padding: 4px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  min-width: 120px;
}
.custom-form a.button {
  min-width: 0;
  text-align: center;
}
.custom-form input[type=button]:hover,
.custom-form input[type=submit]:hover,
.custom-form a.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);
  background-color: #019ad2;
}
.custom-form input[type=button]:active,
.custom-form input[type=submit]:active {
  position: relative;
  top: 1px;
}
.custom-form input[type=button].cancel,
.custom-form input[type=submit].cancel,
.custom-form a.cancel {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24537;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial; */
  font-size: 14px;
  /* font-weight: bold; */
  padding: 4px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  min-width: 120px;
  outline: none;
}
.custom-form a.cancel {
  width: 70px;
  min-width: 0;
  text-align: center;
}
.custom-form input[type=button]:hover.cancel,
.custom-form input[type=submit]:hover.cancel,
.custom-form a:hover.cancel {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537', GradientType=0);
  background-color: #c62d1f;
}
.custom-form input[type=button]:active.cancel,
.custom-form input[type=submit]:active.cancel {
  position: relative;
  top: 1px;
}
.custom-form .grey-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.custom-form .grey-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
  background-color: #dfdfdf;
}
.custom-form .grey-button:active {
  position: relative;
  top: 1px;
}
.custom-form input[type=text],
.custom-form input[type=password],
.custom-form input[type=email],
.custom-form .text-box,
.custom-form .single-line {
  /*background: url(Images/TextBox/textbox_bg.jpg) repeat-x;*/
  border: 1px solid #bddbfa;
  color: #333333;
  padding: 3px;
  margin-right: 4px;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 13px;
  height: 22px;
  min-width: 150px;
}
.custom-form input[type=number] {
  /*background: url(Images/TextBox/textbox_bg.jpg) repeat-x;*/
  border: 1px solid #bddbfa;
  color: #333333;
  padding: 3px;
  margin-right: 4px;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 15px;
  height: 18px;
  width: 50px;
}
.custom-form input[type=text]:hover,
.custom-form input[type=password]:hover,
.custom-form input[type=number]:hover,
.custom-form input[type=email]:hover,
.custom-form .text-box:hover,
.custom-form .single-line:hover,
.custom-form textarea:hover {
  /*, .editor-label*/
  /*background: url(Images/TextBox/textbox_bg.jpg) repeat-x;*/
  border: 1px solid #3598ff;
}
.custom-form input[type=text]:focus,
.custom-form input[type=password]:focus,
.custom-form input[type=number]:focus,
.custom-form input[type=email]:focus,
.custom-form .text-box:focus,
.custom-form .single-line:focus,
.custom-form textarea:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.custom-form textarea {
  padding: 10px;
  border: 1px solid #bddbfa;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 15px;
  /*background: url(Images/TextBox/textbox_bg.jpg) repeat-x;*/
}
.custom-form textarea#description {
  width: 1400px;
  height: 160px;
  resize: none;
}
.custom-form select {
  /*background-image:url(Images/TextBox/textbox_bg.jpg);*/
  background-repeat: repeat-x;
  border: 1px solid #bddbfa;
  color: #333333;
  padding: 3px;
  margin-right: 4px;
  margin-bottom: 8px;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  color: #336699;
  height: 26px;
  min-width: 170px;
}
.custom-form select:hover {
  /*background-image:url(Images/TextBox/textbox_bg.jpg);*/
  background-repeat: repeat-x;
  border: 1px solid orange;
}
/* ============ IMAGE BUTTONS ============== */
button[class^="image-button"] {
  outline: 0;
  -moz-outline: 0;
  border: 0;
}
.image-button-edit {
  background: url(../Images/Buttons/Edit.png) no-repeat center center;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-details {
  background: url(../Images/Buttons/Details.png) no-repeat center center;
  display: inline-block;
  width: 17px;
  height: 16px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-edit-menu {
  background: url(../Images/buttons/edit_menu.png) 6px 0px no-repeat;
  display: inline-block;
  width: 26px;
  height: 16px;
  text-indent: -9999px;
  border: none;
}
.image-button-delete {
  background: url(../Images/Buttons/Delete.png) no-repeat center center;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
  cursor: pointer;
}
.image-button-cancel {
  background: url(../Images/Buttons/Cancel.png) no-repeat top left;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-update {
  background: url(Images/Buttons/Update.png) no-repeat center center;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-plus {
  background: url(Images/Buttons/Plus.png) no-repeat top left;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-copy {
  background: url(Images/Buttons/Copy.png) no-repeat top left;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-hide {
  background: url(images/buttons/hide.png) no-repeat top left;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
.image-button-ingridients {
  background: url(images/buttons/ingridients.png) 3px 3px no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  /* hides the link text */
  border: none;
}
