﻿.error-container {
  float: left;
  width: 400px;
}
.error-container ul.errors {
  list-style: inside;
  color: red;
}
.error-container li {
  font-size: 14px;
  vertical-align: baseline;
}
.error {
  color: red;
  font-size: 12px;
  vertical-align: baseline;
  height: 19px;
}
.error-border {
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
}
.error-border:hover {
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
}
/*# sourceMappingURL=errors.css.map */