﻿body {
    /*font-family: 'Conv_FRABK', Sans-Serif;*/
    /*background-color: #F1F1F1;*/
}

// ===== GENERAL ====== //
a, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.caption {
    //font-size: 12px;
    /*margin-top: 5px;*/
    margin-right: 10px;
    width: 140px;
}

td.caption {
    vertical-align: top;
}

.clear {
    clear: both;
}

.strong, .bold {
    font-weight: bold;
}

.center {
    margin: 0 auto;
}

.justify {
    text-align: justify;
}

.float-left {
    float: left;
}

.bordered {
    /*border: 1px solid #d3d1cd;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 5px 3px #e5e6e7;*/
    /*border: 1px solid #d3d1cd;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 5px 3px #e5e6e7;*/
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /*margin: 5px;*/
    padding: 5px;
}

.bordered-selected {
    /*border: 1px solid #d3d1cd;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 5px 3px #e5e6e7;*/
    border: 1px solid #d3d1cd;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 5px 3px #e5e6e7;
}

.bordered-blue {
    background: #fff;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0px 20px rgba(68, 87, 255, 1);
    padding: 5px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-max {
    position: absolute;
    z-index: 2147483647;
}


.content-wrapper {
    position: relative;

    .content-loading {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/loader/loader_snake.gif) 50% 50% no-repeat;
    }
}

.relative {
    position: relative;
}


.center-container {
    margin: 0 auto;
    width: 50%;
    min-width: 700px;
}