﻿body {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #336699;
    background-color: #F1F1F1;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #FFF;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #336699 !important;
}

#login-container {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -150px;
    margin-top: -75px;

    background: #fff;
    padding: 10px 10px 10px 10px;
    /*right: -100px;*/
    /*top: 0px;*/
    width: 265px;
    border: 1px solid #d3d1cd;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 5px 3px #e5e6e7;
    z-index: 1000;

    #user-login {
        margin: 6px 0;
        color: #336699 !important;
    }

    #user-password {
        margin: 6px 0;
        color: #336699 !important;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
    }

    .login-caption {
        text-align: right;
        margin-top: 5px;
        margin-right: 10px;
        width: 67px;
    }

    .forgot-caption {
        display: none !important;
        font-size: 10px;
        margin-top: 11px;
    }

    .buttons-container {
        margin-left: 10px;
        text-align: right;

        input {
            margin-right: 22px;
        }
    }
}