﻿table.list {
	margin:0;
    padding:0;
    width:99%;
    
    display: table;
    border-collapse: separate;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: gray;
}

table.list th {
    border: 1px solid #9EB6CE;
    height: 23px;
    padding: 4px;

    background-image: -ms-linear-gradient(top, #F9FCFD 0%, #D2DBE8 100%);
    background-image: -moz-linear-gradient(top, #F9FCFD 0%, #D2DBE8 100%);
    background-image: -o-linear-gradient(top, #F9FCFD 0%, #D2DBE8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9FCFD), color-stop(100, #D2DBE8));
    background-image: -webkit-linear-gradient(top, #F9FCFD 0%, #D2DBE8 100%);
    background-image: linear-gradient(to bottom, #F9FCFD 0%, #D2DBE8 100%);
}

table.list th.active {
    background-image: -ms-linear-gradient(top, #E0E3E4 0%, #B9C2CF 100%);
    background-image: -moz-linear-gradient(top, #E0E3E4 0%, #B9C2CF 100%);
    background-image: -o-linear-gradient(top, #E0E3E4 0%, #B9C2CF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E0E3E4), color-stop(100, #B9C2CF));
    background-image: -webkit-linear-gradient(top, #E0E3E4 0%, #B9C2CF 100%);
    background-image: linear-gradient(to bottom, #E0E3E4 0%, #B9C2CF 100%);
}

table.list th.sortable {
    cursor: pointer;
}

table.list td {
    border: 1px solid #d2ddec;
    height: 23px;
    cursor: pointer;
    vertical-align: text-top;
    

    padding: 4px;
}







/* ===== Create/Edit Form ===== */
table.editor {
    padding: 2px;
}

table.editor td {
    vertical-align: top;
    text-align: left;
    min-width: 100px;
}


/* ===== List Form ===== */
table.list td.email {
    width: 200px;
}

table.list td.phone {
    width: 130px;
}

table.list td.mail {
    width: 26px;
    
    div.mail {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/mail.png');
    }

    div.mail-answered {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/mail-answered.png');
    }
}

table td.publish {
    width: 26px;
    
    div.published {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/published.png');
    }

    div.not-published {
        position: relative;
        top: 3px;
        width: 16px;
        height: 16px;
        background-image: url('../images/not-published.png');
    }
}

table.list td.created, 
table.list td.modified {
    width: 130px;
}

table.list td.buttons-2 {
    width: 50px;
}

table.list th.managment-buttons {
    width: 90px;
}

table.list tr:nth-child(odd)  { background-color:#FFFFFF; }
table.list tr:nth-child(even) { background-color: #e6f0f9; }

table.list tr:hover td {
	background-color: #A3B3CC;
}



/* NOTHING */
/*table.list tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}


table.list table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

table.list table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

table.list tr:last-child td:first-child {
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}*/











/* ========== TABLE .EDITOR ============= */

/*table.editor {
    padding: 2px;
}

table.editor td {
    vertical-align: middle;
    text-align: left;
    min-width: 100px;
    
}*/



