*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@font-face {
  font-family: 'HelveticaNeue-LT-Std-Md';
  src: url("../fonts/HelveticaNeueLTStd-Md.eot");
  src: local('☺'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AgendaBold';
  src: url('fonts/AgendaBold.eot');
  src: local('☺'), url('fonts/AgendaBold.woff') format('woff'), url('fonts/AgendaBold.ttf') format('truetype'), url('fonts/AgendaBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header {
  background: #ffffff url(../images/header-grad-bg-r.png) no-repeat right top;
}
.header :after {
  content: '';
  display: block;
  clear: both;
}
.header .social-links-holder ul li {
  display: inline-block;
}
.header .social-links-holder ul li a {
  display: block;
  background: #d1ddeb;
  padding: 20px 5px 10px 5px;
  font-size: 20px;
}
.header .logo {
  margin-top: 40px;
}
.header .logo img {
  width: 75%;
}
.header .right-col {
  padding-left: 0px;
}
.header .right-col .top .big-links ul li {
  display: inline-block;
  border-bottom: 3px solid #F0EADC;
}
.header .right-col .top .big-links ul li a {
  color: #F0EADC;
  height: 90px;
  display: block;
  text-decoration: none;
  text-align: center;
  /*font-family: "Roboto",sans-serif;*/
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
}
.header .right-col .top .big-links ul li a span {
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
}
.header .right-col .top .big-links ul li a span .fa {
  font-size: 22px;
}
.header .right-col .top .big-links ul li:hover {
  opacity: 0.6;
}
.header .right-col .top .big-links ul li:nth-of-type(1) {
  background: #2d5b7c;
}
.header .right-col .top .big-links ul li:nth-of-type(2) {
  background: #6aa0cf;
}
.header .right-col .top .big-links ul li:nth-of-type(3) {
  background: #4d81ca;
}
.header .right-col .top .numbers {
  text-align: center;
  padding: 15px 0px;
}
.header .right-col .top .numbers p {
  /*font-family: "Roboto",sans-serif;*/
  font-family: sans-serif;
  font-size: 24px;
  color: #F0EADC;
  font-weight: 800;
  padding: 5px;
}
.header .right-col .bottom {
  position: relative;
  padding-top: 60px;
}
.header .right-col .bottom .toggleMenu {
  display: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
}
.header .right-col .bottom .nav {
  list-style: outside none none;
  background: #2D5B7C none repeat scroll 0% 0%;
  display: table;
  table-layout: auto;
  border-bottom: 3px solid #6aa0cf;
}
.header .right-col .bottom .nav ul {
  list-style: none;
  width: 150%;
}
.header .right-col .bottom .nav a {
  color: #F0EADC;
  padding: 11px 38px 11px 27px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
}
.header .right-col .bottom .nav li {
  border-right: 1px solid #F0EADC;
  position: relative;
}
.header .right-col .bottom .nav li ul {
  position: absolute;
  left: -9999px;
  transition: none;
}
.header .right-col .bottom .nav li li.hover {
  background: #6AA0CF;
}
.header .right-col .bottom .nav li li.hover ul {
  left: 100%;
  top: 0;
}
.header .right-col .bottom .nav li li a {
  display: block;
  background: #2D5B7C;
  position: relative;
  z-index: 100;
  border-top: 1px solid #F0EADC;
}
.header .right-col .bottom .nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
}
.header .right-col .bottom .nav > li {
  float: left;
}
.header .right-col .bottom .nav > li > .parent {
  background-image: url("../images/downArrow.png");
  background-repeat: no-repeat;
  background-position: 92% center;
}
.header .right-col .bottom .nav > li > a {
  display: block;
}
.header .right-col .bottom .nav > li.hover {
  background: #6AA0CF;
}
.header .right-col .bottom .nav > li.hover ul {
  left: 0;
}
.bottom:after {
  content: '';
  position: absolute;
  right: -381px;
  top: 60px;
  height: 39px;
  width: 477px;
  background: #2D5B7C none repeat scroll 0% 0%;
  border-bottom: 3px solid #6AA0CF;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: #6aa0cf;
}
.main .slider {
  position: relative;
}
.main .slider .bx-controls-direction {
  display: none;
}
.main .slider .bx-controls {
  position: absolute;
  bottom: 20px;
  right: 70px;
}
.main .slider .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
  margin: 5px;
}
.main .slider .bx-controls .bx-pager .bx-pager-item a {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 2px solid #6AA0CF;
}
.main .slider .bx-controls .bx-pager .bx-pager-item .active {
  background: #6AA0CF;
}
.main .slider .bxslider li div {
  position: absolute;
  left: 0px;
  top: 84%;
  width: 600px;
  height: 123px;
  background: rgba(90, 149, 179, 0.7) none repeat scroll 0% 0%;
  border-top: 3px solid #f0eadc;
  padding: 10px 40px;
}
.main .slider .bxslider li div h2 {
  font-size: 26px;
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
  color: #F0EADC;
  padding: 10px 0;
}
.main .slider .bxslider li div p {
  font-size: 18px;
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
  color: #F0EADC;
}
.main .form-holder {
  padding: 20px 0 300px 0;
}
.main .form-holder .form:after {
  content: '';
  display: block;
  clear: both;
}
.main .form-holder .form {
  text-align: center;
}
.main .form-holder .form h2 {
  text-align: center;
  font-size: 27px;
  /*font-family: "Roboto",sans-serif;*/
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e326a;
  margin-top: 50px;
}
.main .form-holder .form .inputs {
  display: inline-block;
  margin: 0px auto;
  margin: 30px 0px;
  width: 100%;
}
.main .form-holder .form .inputs input {
  margin: 0 10px;
  width: 80%;
  font-family: "Didact Gothic", sans-serif;
  box-shadow: none;
  background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
  line-height: 30px;
  padding: 0px 0px 0px 5%;
  border-bottom: 3px solid #337AB7;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #0f3346;
}
.main .form-holder .form .datepicker:after {
  content: '';
  display: block;
  clear: both;
}
.main .form-holder .form .datepicker .date-holder {
  margin: 0px auto;
  float: none;
}
.main .form-holder .form .datepicker .date-holder input {
  box-shadow: none;
  border: none;
  line-height: 30px;
  border-bottom: 3px solid #a2bee5;
  color: #D1DDEB;
  padding: 0 0 0 5%;
  font-family: "Didact Gothic", sans-serif;
  background: #2d5b7c url("../images/form_input_bg0.png") no-repeat scroll left bottom;
}
.main .form-holder .form .datepicker .date-holder #datetimepicker1 {
  float: left;
}
.main .form-holder .form .datepicker .date-holder #datetimepicker2 {
  float: right;
}
.main .form-holder .form .textarea-holder {
  margin-top: 40px;
}
.main .form-holder .form .textarea-holder textarea {
  padding: 2%;
  box-sizing: border-box;
  min-height: 120px;
  border: none;
  background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
  border-bottom: 3px solid #337AB7;
  width: 91%;
  resize: none;
  font-family: "Didact Gothic", sans-serif;
  overflow: hidden;
  color: #0f3346;
}
.main .form-holder .form .textarea-holder textarea::-moz-placeholder {
  float: left;
}
.main .form-holder .form .btn-send-holder {
  margin-top: 20px;
}
.main .form-holder .form .btn-send-holder button {
  background: #4D81CA;
  border: none;
  border-bottom: 5px solid #337AB7;
  text-transform: uppercase;
  color: #F0EADC;
  line-height: 40px;
  /*font-family: "Roboto",sans-serif;*/
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 0px 3%;
}
.main .form-holder .form .btn-send-holder button:hover {
  opacity: 0.7;
}
.main .news-wrap {
  background: rgba(162, 190, 229, 0.3);
  position: relative;
  padding-top: 300px;
  padding-bottom: 50px;
}
.main .news-wrap .news-holder .banner {
  position: absolute;
  top: -37%;
  left: 50%;
  margin-left: -512px;
  box-shadow: 5px 5px 15px grey;
  -moz-box-shadow: 5px 5px 15px grey;
  -webkit-box-shadow: 5px 5px 15px grey;
}
.main .news-wrap .news-holder ul {
  padding: 0 5%;
}
.main .news-wrap .news-holder ul li {
  padding: 0 30px;
}
.main .news-wrap .news-holder ul li h3 {
  color: #4d81ca;
  text-transform: uppercase;
  font-weight: 800;
  font-style: initial;
  font-size: 21px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
}
.main .news-wrap .news-holder ul li h2 {
  color: #2d5b7c;
  font-weight: 800;
  font-style: initial;
  font-size: 24px;
  margin-top: 10px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
}
.main .news-wrap .news-holder ul li p {
  font-family: 'Tahoma';
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
}
.main .news-wrap .news-holder ul li button {
  background: #4d81ca;
  line-height: 30px;
  padding: 0 20px;
  border: none;
  color: #f0eadc;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 0 0;
  cursor: pointer;
}
.main .news-wrap .news-holder ul li button:hover {
  background: #6aa0cf;
}
.main .review-holder {
  padding: 30px 0;
}
.main .review-holder ul {
  margin: 0 auto;
  float: none;
}
.main .review-holder ul li {
  text-align: center;
}
.main .review-holder ul li div {
  margin: 20px 0;
  text-align: center;
}
.main .review-holder ul li div div {
  display: inline-block;
  padding: 12px;
  border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: #a2bee5;
  font-size: 40px;
  color: #f0eadc;
}
.main .review-holder ul li h3 {
  margin: 0 0 15px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-size: 19px;
  color: #4d81ca;
  font-weight: 600;
}
.main .review-holder ul li p {
  color: #000000;
  font-family: 'Tahoma';
  font-size: 15px;
  line-height: 24px;
}
.main .review-holder .page-toggles {
  padding: 20px 0 0 0;
  text-align: center;
}
.main .review-holder .page-toggles div {
  display: inline-block;
}
.main .review-holder .page-toggles div a {
  display: block;
  padding: 10px;
  font-size: 38px;
}
.main .review-holder .popup-holder {
  margin-top: 20px;
  text-align: center;
}
.main .review-holder .popup-holder .popup-link-1 {
  display: inline-block;
  background: #4d81ca;
  border: none;
  border-bottom: 5px solid #337ab7;
  text-transform: uppercase;
  color: #f0eadc;
  line-height: 40px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 0px 3%;
}
.main .review-holder .popup-holder .popup-link-1:hover {
  text-decoration: none;
  opacity: 0.7;
}
.main .review-holder .popup-holder .popup-box {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  border: 5px solid rgba(77, 129, 202, 0.5);
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  z-index: 9999999;
  font-size: 14px;
}
.main .review-holder .popup-holder .popup-box .close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #434343;
  padding: 20px;
  font-size: 20px;
}
.main .review-holder .popup-holder .popup-box .close:hover {
  color: #000;
}
.main .review-holder .popup-holder .popup-box .pop-top {
  padding: 20px;
  text-align: center;
}
.main .review-holder .popup-holder .popup-box .pop-top h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-weight: 600;
  color: #1e326a;
}
.main .review-holder .popup-holder .popup-box .pop-bottom {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main .review-holder .popup-holder .popup-box .pop-bottom div {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.main .review-holder .popup-holder .popup-box .pop-bottom div input {
  width: 100%;
  margin: 20px 0;
  font-family: "Didact Gothic", sans-serif;
  box-shadow: none;
  background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
  line-height: 30px;
  padding: 0px 0px 0px 5%;
  border-bottom: 3px solid #337ab7;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #0f3346;
}
.main .review-holder .popup-holder .popup-box .pop-bottom div textarea {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  min-height: 120px;
  border: none;
  background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
  border-bottom: 3px solid #337ab7;
  resize: none;
  font-family: "Didact Gothic", sans-serif;
  color: #0f3346;
  overflow: hidden;
}
.main .review-holder .popup-holder .popup-box .pop-bottom div button {
  background: #4d81ca;
  border: none;
  margin-top: 20px;
  border-bottom: 5px solid #337ab7;
  text-transform: uppercase;
  color: #f0eadc;
  line-height: 40px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 0px 5%;
}
.main .review-holder .popup-holder .popup-box .pop-bottom div button:hover {
  opacity: 0.7;
}
.footer {
  background: #2d5b7c;
}
.footer .container {
  margin: 0 auto;
}
.footer .container .top-block {
  padding: 30px 10px;
}
.footer .container .top-block .left-col {
  padding-left: 7%;
}
.footer .container .top-block .left-col ul li {
  width: 40%;
  margin: 20px 0;
}
.footer .container .top-block .left-col ul li a {
  width: 100%;
  padding: 0 20px;
  display: inline-block;
  line-height: 40px;
  color: #f0eadc;
  /*font-family: "Roboto", sans-serif;*/
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
  background: #6aa0cf;
  border-bottom: 3px solid #f0eadc;
}
.footer .container .top-block .left-col ul li a i {
  padding-right: 20px;
}
.footer .container .top-block .left-col ul li a:hover {
  text-decoration: none;
  background: #4d81ca;
}
.footer .container .top-block .left-col .copy {
  margin-top: 100px;
}
.footer .container .top-block .left-col .copy p {
  margin-top: 10px;
  font-family: 'Didact Gothic', sans-serif;
  color: #f0eadc;
}
.footer .container .top-block .left-col .copy p a {
  color: #6aa0cf;
}
.footer .container .top-block .right-col #map_canvas {
  width: 70%;
  height: 300px;
  float: right;
}
.footer .container .top-block .right-col p {
  float: right;
  font-size: 24px;
  width: 70%;
  padding: 10px 0;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  color: #f0eadc;
}
.footer .container .top-block .right-col:after {
  content: '';
  display: block;
  clear: both;
}
#blackout {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 999999;
  left: 0;
  display: none;
}
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#question-ask .custom-form {
  width: 100%;
}
#question-ask .custom-form .captions {
  width: 150px;
}
#question-ask .custom-form td {
  vertical-align: top;
}
#question-ask .custom-form .title {
  width: 95%;
}
#question-ask .custom-form .description {
  width: 95%;
  height: 300px;
  resize: none;
  font-size: 13px;
}
#question-ask .custom-form input {
  width: 70%;
}
