
*:before, *:after{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
* {
	-webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
}
@font-face {
	font-family: 'HelveticaNeue-LT-Std-Md';
	src: url("../fonts/HelveticaNeueLTStd-Md.eot");
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AgendaBold';
	src: url('fonts/AgendaBold.eot');
	src: local('☺'), url('fonts/AgendaBold.woff') format('woff'), url('fonts/AgendaBold.ttf') format('truetype'), url('fonts/AgendaBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@light-brown: #cdbfa4;
@fontsize: 10px;
@padding: 10px;
@font: 'AgendaBold';

.header {
	:after {
		content: '';
		display:block;
		clear: both;     
	}
	background: #fff url(../images/header-grad-bg-r.png) no-repeat right top;
	.social-links-holder {
		ul {
			li {
				display: inline-block;
				a {
					display: block;
					background: #d1ddeb;
					padding: @padding*2 @padding/2 @padding @padding/2;
					font-size:@fontsize*2;
				}
			}
		}
	}
	.logo {
		margin-top: @padding*4;
		img{
			width: 75%;
		}
	}
	.right-col {
		padding-left: 0px;
		.top {
			.big-links {
				ul {
					li {
						display: inline-block;
						border-bottom: 3px solid #F0EADC;
						a {
							color: #F0EADC;
							height: 90px;
							display: block;
							text-decoration: none;
							text-align: center;
							/*font-family: "Roboto",sans-serif;*/
                            font-family: sans-serif;
							font-size: 12px;
							font-weight: 800;
							span {
								text-transform: uppercase;
								margin-top: @padding;
								display: block;
								.fa{
									font-size: 22px;
								}
							}
						}
					}
					li:hover {
						opacity: 0.6;
					}

					li:nth-of-type(1) {
						background:#2d5b7c;
					}
					li:nth-of-type(2) {
						background:#6aa0cf;
					}
					li:nth-of-type(3) {
						background:#4d81ca;
					}
				}
			}
			.numbers {
				text-align: center;
				padding: @padding*1.5 0px;
				p {
					/*font-family: "Roboto",sans-serif;*/
                    font-family: sans-serif;
					font-size: 24px;
					color: #F0EADC;
					font-weight: 800;
					padding: @padding/2;
					
				}
			}
		}
		.bottom {
			position: relative;
			padding-top: @padding*6;
			.toggleMenu {
				display:  none;
			    background: #666;
			    padding: 10px 15px;
			    color: #fff;
			}
			.nav {
				list-style: outside none none;
				background: #2D5B7C none repeat scroll 0% 0%;
				display: table;
				table-layout: auto;
				border-bottom: 3px solid rgb(106, 160, 207);

			    ul {
			    	list-style: none;
    				width: 150%;
			    }
			    a {
			    	color: #F0EADC;
					padding: 11px 38px 11px 27px;
					font-family: 'Didact Gothic', sans-serif;
					font-size: 14px;
			    }
			    li {
			    	border-right: 1px solid #F0EADC;
			    	position: relative;
			    	ul {
			    		position: absolute;
    					left: -9999px;
    					transition: none;
			    	}
			    	li.hover {
			    		background: #6AA0CF;
			    		ul {
			    			left: 100%;
    						top: 0;
			    		}
			    	}
			    	li {
						a {
							display: block;
						    background: #2D5B7C;
						    position: relative;
						    z-index:100;
						    border-top: 1px solid #F0EADC;
						}
						li {
							a {
								background:#249578;
							    z-index:200;
							    border-top: 1px solid #1d7a62;
							}
						}
			    	}
			    }
			    >li {
			    	float: left;
    				> .parent {
    					background-image: url("../images/downArrow.png");
					    background-repeat: no-repeat;
					    background-position: 92% center;
    				}
    				> a {
    					display: block;
    				}
			    }
			    >li.hover {
			    	background: #6AA0CF;
			    	ul {
			    		left: 0;
			    	}
			    }
			}
		}
	}
}
.bottom:after {
	content: '';
	position: absolute;
	right: -381px;
	top: 60px;
	height: 39px;
	width: 477px;
	background: #2D5B7C none repeat scroll 0% 0%;
	border-bottom: 3px solid #6AA0CF;
}
.nav > li > a:hover, .nav > li > a:focus {
	background:#6aa0cf;
}

.main {
	.slider {
		position: relative;
		.bx-controls-direction {
			display: none;
		}
		.bx-controls {
			position: absolute;
			bottom: 20px;
			right: 70px;
			.bx-pager {
				.bx-pager-item {
					display: inline-block;
					margin: @padding/2;
					a {
						text-indent: -9999px;
						overflow: hidden;
						display: block;
						width: 20px;
						height: 20px;
						background: rgba(255, 255, 255, 0.6);
						border-radius: 10px;
						border: 2px solid #6AA0CF;
					}
					.active {
						background: #6AA0CF;
					}
				}
			}
		}
		.bxslider {
			li {
				div {
					position: absolute;
					left: 0px;
					top: 84%;
					width: 600px;
					height: 123px;
					background: rgba(90, 149, 179, 0.7) none repeat scroll 0% 0%;
					border-top: 3px solid rgb(240, 234, 220);
					padding: @padding @padding*4;
					h2 {
						font-size: 26px;
						font-family: "Didact Gothic",sans-serif;
						font-weight: bold;
						color: #F0EADC;
						padding: 10px 0;
					}
					p {
						font-size: 18px;
						font-family: "Didact Gothic",sans-serif;
						font-weight: bold;
						color: #F0EADC;
					}
				}
			}
		}
	}
	.form-holder {
		padding: @padding*2 0 @padding*30 0;
		.form:after {
				content:'';
				display: block;
				clear: both;
			}
		.form {
			text-align: center;
			h2 {
				text-align: center;
				font-size: 27px;
				/*font-family: "Roboto",sans-serif;*/
                font-family: sans-serif;
				text-transform: uppercase;
				font-weight: 700;
				color: #1e326a;
				margin-top: 50px;
			}
			.inputs {
				display: inline-block;
				margin: 0px auto;
				margin: 30px 0px;
				width: 100%;
				input {
					margin: 0 10px;
					width: 80%;
					font-family: "Didact Gothic",sans-serif;
					box-shadow: none;
					background: #D1DDEB url(../images/form_input_bg.png) no-repeat left bottom;
					line-height: 30px;
					padding: 0px 0px 0px 5%;
					border-bottom: 3px solid #337AB7;
					border-left: none;
					border-right: none;
					border-top: none;
					color: #0f3346;
				}
			}
			.datepicker:after {
				content:'';
				display: block;
				clear: both;
			}
			.datepicker {
				.date-holder {
					margin: 0px auto;
					float: none;
					input {
						box-shadow: none;
						border: none;
						line-height: 30px;
						border-bottom: 3px solid #a2bee5;
						color: #D1DDEB;
						padding:0 0 0 5%;
						font-family: "Didact Gothic",sans-serif;
						background: rgb(45, 91, 124) url("../images/form_input_bg0.png") no-repeat scroll left bottom;
					}
					#datetimepicker1 {
						float: left;
					}
					#datetimepicker2 {
						float: right;
					}
				}

			}
			.textarea-holder {
				margin-top: 40px;
				textarea {
					padding: 2%;
					box-sizing: border-box;
					min-height: 120px;
					border: none;
					background: #D1DDEB url(../images/form_input_bg.png) no-repeat left bottom;
					border-bottom: 3px solid #337AB7;
					width: 91%;
					resize: none;
					font-family: "Didact Gothic",sans-serif;
					color: #0f3346;
					overflow: hidden;
					color: #0f3346;
				}
				textarea::-moz-placeholder {
					float: left;
				}  
			}
			.btn-send-holder {
				margin-top: 20px;
				button {
					background: #4D81CA;
					border: none;
					border-bottom: 5px solid #337AB7;
					text-transform: uppercase;
					color: #F0EADC;
					line-height: 40px;
					/*font-family: "Roboto",sans-serif;*/
                    font-family: sans-serif;
					font-size: 12px;
					font-weight: 800;
					padding: 0px 3%;
				}
				button:hover {
					opacity: 0.7;
				}
			}
		}
	}
	.news-wrap {
		background: rgba(162, 190, 229, 0.3);
		position: relative;
		padding-top: 300px;
	    padding-bottom: 50px;
		.news-holder {
			.banner {
				position: absolute;
			    top: -37%;
			    left: 50%;
			    margin-left: -512px;
			    box-shadow: 5px 5px 15px grey;
			    -moz-box-shadow: 5px 5px 15px grey;
			    -webkit-box-shadow: 5px 5px 15px grey;
			}
			ul {
				padding: 0 5%;
				li {
					padding: 0 30px;
					h3 {
						color: #4d81ca;
					    text-transform: uppercase;
					    font-weight: 800;
					    font-style: initial;
					    font-size: 21px;
					    /*font-family: "Roboto", sans-serif;*/
                        font-family: sans-serif;
					}
					h2 {
						color: #2d5b7c;
					    font-weight: 800;
					    font-style: initial;
					    font-size: 24px;
					    margin-top: 10px;
					    /*font-family: "Roboto", sans-serif;*/
                        font-family: sans-serif;
					}
					p {
						font-family: 'Tahoma';
					    font-size: 15px;
					    line-height: 24px;
					    margin-top: 10px;
					}
					button {
						background: #4d81ca;
					    line-height: 30px;
					    padding: 0 20px;
					    border: none;
					    color: #f0eadc;
					    /*font-family: "Roboto", sans-serif;*/
                        font-family: sans-serif;
					    font-size: 15px;
					    font-weight: 600;
				        margin: 20px 0 0 0;
				        cursor: pointer;
					}
					button:hover {
						background: #6aa0cf;
					}
				}
			}
		}
	}
	.review-holder {
		padding: @padding*3 0;
		ul {
		    margin: 0 auto;
    		float: none;
    		li {
 			    text-align: center;
    			div {
    				margin: @padding*2 0;
   				    text-align: center;
   				    div {
   				    	display: inline-block;
   				    	padding: @padding+2;
					    border-radius: 30px;
					    -o-border-radius: 30px;
					    -moz-border-radius: 30px;
					    -webkit-border-radius: 30px;
					    background: #a2bee5;
					    font-size: 40px;
				        color: #f0eadc;
   				    }

    			}
    			h3 {
    				margin: 0 0 15px;
				    /*font-family: "Roboto", sans-serif;*/
                    font-family: sans-serif;
				    font-size: 19px;
				    color: #4d81ca;
				    font-weight: 600;
    			}
    			p {
    				color: #000000;
				    font-family: 'Tahoma';
				    font-size: 15px;
				    line-height: 24px;
    			}
    		}
		}
		.page-toggles {
			padding: 20px 0 0 0;
			text-align: center;
			div {
				display: inline-block;
				a {
					display: block;
					padding: @padding;
				    font-size: 38px;
				}
			}
		}
		.popup-holder {
			margin-top: @padding*2;
			text-align: center;
			.popup-link-1 {
				display: inline-block;
				background: #4d81ca;
			    border: none;
			    border-bottom: 5px solid #337ab7;
			    text-transform: uppercase;
			    color: #f0eadc;
			    line-height: 40px;
			    /*font-family: "Roboto", sans-serif;*/
                font-family: sans-serif;
			    font-size: 12px;
			    font-weight: 800;
			    padding:0px 3%;
			}
			.popup-link-1:hover {
				text-decoration: none;
				opacity: 0.7;
			}
			.popup-box {
				position: absolute;
			    border-radius: 5px;
			    background: #fff;
			    border: 5px solid rgba(77,129,202,0.5);
			    display: none;
			    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
			    font-family: Arial, sans-serif;
			    z-index: 9999999;
			    font-size: 14px;
			    .close {
			    	position: absolute;
				    top: 0px;
				    right: 0px;
				    font-family: Arial, Helvetica, sans-serif;  
				    font-weight: bold;
				    cursor: pointer;
				    color: #434343;
				    padding: 20px;
				    font-size: 20px;
			    }
			    .close:hover {
			    	color: #000;
			    }
				.pop-top {
					padding: 20px;
   					text-align: center;
					h2 {
						padding: 0;
    					margin: 0;
						font-size: 18px;
					    /*font-family: "Roboto", sans-serif;*/
                        font-family: sans-serif;
					    font-weight: 600;
					    color: #1e326a;
					}
				}
				.pop-bottom {
					padding: 20px;
					border-bottom-left-radius: 5px;
				    border-bottom-right-radius: 5px;
				    div {
				    	width: 85%;
				    	margin: 0 auto;
				    	text-align: center;
				    	input {
				    		width: 100%;
				    		margin: 20px 0;
						    font-family: "Didact Gothic", sans-serif;
						    box-shadow: none;
						    background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
						    line-height: 30px;
						    padding: 0px 0px 0px 5%;
						    border-bottom: 3px solid #337ab7;
						    border-left: none;
						    border-right: none;
						    border-top: none;
						    color: #0f3346;
				    	}
				    	textarea {
				    		width: 100%;
				    		    padding: 2%;
							    box-sizing: border-box;
							    min-height: 120px;
							    border: none;
							    background: #d1ddeb url(../images/form_input_bg.png) no-repeat left bottom;
							    border-bottom: 3px solid #337ab7;
							    resize: none;
							    font-family: "Didact Gothic", sans-serif;
							    color: #0f3346;
							    overflow: hidden;
				    	}
				    	button {
				    		background: #4d81ca;
						    border: none;
						    margin-top: 20px;
						    border-bottom: 5px solid #337ab7;
						    text-transform: uppercase;
						    color: #f0eadc;
						    line-height: 40px;
						    /*font-family: "Roboto", sans-serif;*/
                            font-family: sans-serif;
						    font-size: 12px;
						    font-weight: 800;
						    padding: 0px 5%;
				    	}
				    	button:hover {
				    		opacity: 0.7;
				    	}
				    }
				}
			}
		}
	}
}
.footer {
	background: #2d5b7c;
	.container {
		margin: 0 auto;
		.top-block {
		    padding: @padding*3 @padding;
			.left-col {
			    padding-left: 7%;
				ul {
					li {
						width: 40%;
					    margin: @padding*2 0;
						a {
							width: 100%;
						    padding: 0 20px;
    						display: inline-block;
						    line-height: 40px;
					        color: #f0eadc;
				        	/*font-family: "Roboto", sans-serif;*/
                            font-family: sans-serif;
						    font-size: 18px;
						    font-weight: 800;
						    background: #6aa0cf;
						    border-bottom: 3px solid #f0eadc;
						    i {
						    	padding-right: @padding*2;
						    }
						}
						a:hover {
							text-decoration: none;
							background: #4d81ca;
						}
					}
				}
				.copy {
					margin-top: @padding*10;
					p {
						margin-top: @padding;
						font-family: 'Didact Gothic', sans-serif;
			        	color: #f0eadc;
			        	a {
			        		color:#6aa0cf;
			        	}
					}
				}
			}
			.right-col {
				#map_canvas {
					width: 70%;
					height: 300px;
					float: right;
				}
				p {
					float: right;
				    font-size: 24px;
				    width: 70%;
				    padding: 10px 0;
				    text-align: center;
			        font-family: 'Didact Gothic', sans-serif;
			        color: #f0eadc;
				}

			}
			.right-col:after {
				content:'';
				display: block;
				clear: both;
			}
		}
	}
} 
 
#blackout {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    display: none;
}


// Popup
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


// Ask question popup
#question-ask {
    .custom-form {
        width: 100%;
        .captions {
            width: 150px;
        }
        td {
            vertical-align: top;
        }
        .title {
            width: 95%;
        }
        .description {
            width: 95%;
            height: 300px;
            resize: none;
            font-size: 13px;
        }
        input {
            width: 70%;
        }
    }
}