﻿@using PresentationLayer.Web.HtmlHelpers
@{
    ViewBag.Title = "Log-in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script>
    @Html.InitialConfiguration()
</script>

<div id="login-container" class="bordered custom-form" ng-controller="AuthenticationController">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="login-caption">Login:</div>
                </td>
                <td>
                    <input autocomplete="off" id="user-login" type="text" class="name" ng-model="model.login" autofocus>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="login-caption">Password:</div>
                </td>
                <td>
                    <input autocomplete="off" id="user-password" type="password" class="name" ng-model="model.password">
                </td>
            </tr>
            <tr>
                <td colspan="2"><a class="forgot-caption" href="#/reset-password">Forgot password?</a></td>
            </tr>
        </tbody>
    </table>
    <div class="buttons-container">
        <input type="button" value="Log In" ng-click="logIn()">
    </div>
</div>