﻿<div class="custom-form">
    <input type="button" value="Create" ng-click="editUser()">
</div>
<br />
<div tasty-table bind-resource-callback="getAll" bind-init="init" bind-reload="reloadCallback" bind-theme="{loadOnInit: true}" ng-show="rows.length">
    <table class="list">
        <thead tasty-thead></thead>
        <tbody>
            <tr ng-repeat="row in rows" ng-dblclick="editUser(row)" repeat-complete>
                <td>{{ row.login }}</td>
                <td>{{ row.firstName }}</td>
                <td>{{ row.lastName }}</td>
                <td class="email">{{ row.email }}</td>
                <td class="phone">{{ row.phone }}</td>
                <td class="created">{{row.createdAt | date: 'dd.MM.yyyy HH:mm'}} {{row.UserCreatedBy.LastName}}</td>
                <td class="buttons-2">
                    <button class="image-button-details" title="Show" ng-click="editUser(row)"></button>
                    <button class="image-button-delete" data-toggle="confirmation-popout" data-placement="left" data-title="Are you sure?"
                            ng-click="onHide($event, row)"
                            ng-hide="row.login == 'admin'">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div tasty-pagination></div>
</div>

<div ng-include="'app/modules/admin/user/views/user-edit.html'"></div>