﻿<div id="user-details" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User</h4>
            </div>
            <div class="modal-body">

                <div class="error-container">
                    <ul class="errors">
                        <li ng-repeat="error in errorList">{{error}}</li>
                    </ul>
                </div>

                <table class="custom-form user-form">
                    <tr>
                        <td><div class="caption">Login:<sup> *</sup></div></td>
                        <td>
                            <input type="text" ng-model="model.login" autofocus="" ng-class="{'error-border' : error.login}" ng-disabled="model.login == 'admin'">
                            <div class="error" ng-bind="error.login"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Password:<sup> *</sup></div></td>
                        <td>
                            <input type="password" ng-model="model.password" autofocus="" ng-class="{'error-border' : error.password}">
                            <div class="error" ng-bind="error.password"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Repeat password:<sup> *</sup></div></td>
                        <td>
                            <input type="password" ng-model="model.passwordConfirm" autofocus="" ng-class="{'error-border' : error.passwordConfirm}">
                            <div class="error" ng-bind="error.passwordConfirm"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">First Name:<sup> *</sup></div></td>
                        <td>
                            <input type="text" ng-class="{'error-border' : error.firstName}" ng-model="model.firstName">
                            <div class="error" ng-bind="error.firstName"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Last Name<sup> *</sup></div></td>
                        <td>
                            <input type="text" ng-class="{'error-border' : error.lastName}" ng-model="model.lastName">
                            <div class="error" ng-bind="error.lastName"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">E-mail:<sup> *</sup></div></td>
                        <td>
                            <input type="text" ng-class="{'error-border' : error.email}" ng-model="model.email">
                            <div class="error" ng-bind="error.email"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Phone:<sup> *</sup></div></td>
                        <td>
                            <input type="text" id="phone" ng-class="{'error-border' : error.phone}" ng-model="model.phone">
                            <div class="error" ng-bind="error.phone"></div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveUser()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->