﻿<ul>
    <li>
        <div class="tree-cat">
            <a href="#/receptions/">Receptions <span ng-show="count.repectionsCount > 0">({{count.repectionsCount}})</span></a>
        </div>
        <div class="tree-cat">
            <a href="#/questions/">Questions <span ng-show="count.questionsCount > 0">({{count.questionsCount}})</span></a>
        </div>
        <div class="tree-cat">
            <a href="#/comments/">Comments <span ng-show="count.commentsCount > 0">({{count.commentsCount}})</span></a>
        </div>
        <div class="tree-cat">
            <a href="#/users/">Users</a>
        </div>
    </li>
</ul>